# Ignore all QC data in folder
qcdata/

# Ignore test data files folder
testdata/

#ignore all pycache files
__pycache__/
qclib/__pycache__/
*.pyc

#ignore all program settings files
*.ARESsettings

#any zipped folders with data
*.zip

#Mac stuff
.DS_Store
*/*.DS_Store

#Shortcuts
*.lnk

#PyCharm control file
.idea
